/* All the styles on each and every page */

table, th, td{
    border-style: solid;
    border-color: #585BD8;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    text-align: center;
    background-color: #e2d8d8;
}
button{
    transition-duration: 0.4s;
    border-radius: 12px;
    font-size: 15px;
    padding: 8px;
}
button:hover {
    background-color: #0205c4;
    color: white;
}
.center{
    text-align: center;
}
form{
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-style: ridge;
    border-width: 50%;
}
div a{
    color: rgb(17, 0, 255);
}